{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<!-- Ajax Search Modal -->
<div class="modal fade" id="customerSearchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex w-100">
                    <div class="pr-2 flex-grow-1">
                        <div class="input-icon">
                            <input class="form-control" id="customerSerachInput" type="text"
                                   placeholder="Buscar..." autocomplete="off" data-target="none">
                            <span class="input-icon-addon"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-icon btn-round btn-danger" data-dismiss="modal">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <table class="table search-table table-striped">
                    <thead>
                    <tr>
                        <th class="w-90" scope="col">{{ i18n.trans('customer') }}</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="customerSearchResult">
                    <tr>
                        <td colspan="2">Escribe en el cuadro para buscar</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
