{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<!-- Reset Data Modal -->
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetModalLabel">Reiniciar la venta</h5>
            </div>
            <div class="modal-body">
                <p>Se reiniciara la información</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-secondary" data-dismiss="modal">{{ i18n.trans('cancel') }}</button>
                <button type="button" class="btn btn-rounded btn-danger" onclick="location.reload();">{{ i18n.trans('accept') }}</button>
            </div>
        </div>
    </div>
</div>
