{#
/**
* This file is part of POS plugin for FacturaScripts
* Copyright (C) 2019 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
#}
<div class="modal fade" id="searchCustomerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-group col">
                    <div class="input-icon">
                        <input class="form-control input-pill" id="searchCustomerInput" type="text"
                               placeholder="Buscar cliente" autocomplete="off">
                        <span class="input-icon-addon"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <table class="table search-table table-striped">
                    <thead>
                    <tr>
                        <th class="w-90" scope="col">Cliente</th>
                        <th scope="col"><i class="fas fa-user"></i></th>
                    </tr>
                    </thead>
                    <tbody id="searchCustomerResult">
                    <tr><td colspan="2">Escribe en el cuadro para buscar</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ i18n.trans('cancel') }}</button>
            </div>
        </div>
    </div>
</div>
