<footer class="footer">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-danger btn-round" id="resetButton">
                    <i class="fas fa-money-bill-alt" aria-hidden="true"></i>&nbsp;{{ i18n.trans("cancel") }}
                </button>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-primary btn-round" id="checkoutButton">
                    <i class="fas fa-money-bill-alt" aria-hidden="true"></i>&nbsp;{{ i18n.trans("charge") }}
                </button>
            </div>
        </div>
</footer>