<div class="flex flex-col m-4 h-full bg-white rounded-lg shadow shadow-md">
    <div class="flex justify-between p-5 border-b border-solid">
        <h2 class="font-semibold text-lg text-slate-gray-700">{{ i18n.trans('edit') }}</h2>
    </div>
    <div id="cartEditForm" class="grid grid-cols-2 gap-4 p-5">
    </div>
    <div class="flex mt-auto p-5 border-t border-solid">
        <button class="btn btn-danger ml-auto"
                data-toggle="block" data-target="cartEditView" data-onhide="productMainView">
            <i class="fa fw fa-times mr-2"></i>
            <span>{{ i18n.trans('close') }}</span>
        </button>
    </div>
</div>
