<div class="flex p-4">
    <div id="mainContent" class="flex-1 text-gray-400">
    </div>
    {# <button id="productFilterButton" class="ml-2 btn bg-gray-200 text-slate-800 focus:ring-gray-600"
            data-toggle="modal" data-target="productFilterModal">
        <i class="fa fa-tags"></i>
        <span id="productFilterLabel" class="mx-2">{{ i18n.trans('filters') }}</span>
    </button> #}
</div>
