{#
/**
 *  This file is part of POSpro plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<div id="productQuantityEditModal" class="hidden modal">
    <!--content-->
    <div class="min-h-min modal-content md:modal-content-sm">
        <!--header-->
        <div class="modal-header">
            <h2 class="text-2xl font-semibold text-slate-gray-700">{{ i18n.trans('edit') }}</h2>
            <button class="ml-2 btn btn-icon btn-danger" data-toggle="modal" data-target="productQuantityEditModal">
                <i class="fa fw fa-times"></i>
            </button>
        </div>
        <!--body-->
        <div class="modal-body">
            <div id="productQuantityForm" class="flex-col items-center">
                <label for="productQuantityInput" class="mb-2 font-semibold uppercase">{{ i18n.trans('quantity') }}</label>
                <div class="flex space-x-3">
                    <button class="flex-none btn btn-icon btn-warning" data-action="quantityDecreaseAction">
                        <i class="fa fw fa-minus"></i>
                    </button>
                    <input id="productQuantityInput" type="number" class="flex-1 form-control" value="0"
                           data-action="productEditFieldAction" data-index="" data-field="cantidad">
                    <button class="flex-none btn btn-icon btn-secondary" data-action="quantityIncreaseAction">
                        <i class="fa fw fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
