{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<div class="form-row mb-1">
    <div class="form-group col-12 col-md-4 pt-0">
        <div class="input-icon">
            <input class="form-control" id="productBarcodeInput" type="search"
                   placeholder="Codigo de barras" autocomplete="off">
            <span class="input-icon-addon"><i class="fas fa-barcode"></i></span>
        </div>
    </div>
    <div class="form-group col pt-0">
        <div class="input-icon">
            <input class="form-control" id="productSearchBox" type="text"
                   placeholder="Buscar por texto" autocomplete="off">
            <span class="input-icon-addon"><i class="fas fa-search"></i></span>
        </div>
    </div>
</div>
<div class="p-3 bg-white rounded box-shadow cart-content">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                {%- for header in grid.headers %}
                    <th scope="col">{{ header }}</th>
                {% endfor -%}
                <th scope="col"><i class="fas fa-times"></i></th>
            </tr>
            </thead>
            <tbody id="cartContainer">
                <tr><td colspan="14"><span>{{ i18n.trans('empty-cart-list') }}</span></td></tr>
            </tbody>
        </table>
    </div>
</div>