{#
/**
* This file is part of POS plugin for FacturaScripts
* Copyright (C) 2019 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
#}
{% import "POS/Macro/Inputs.html.twig" as input %}

<div class="card">
    <h5 class="card-header">Informacion de la venta</h5>    
    <div class="card-body">
        <div class="form-row">
            {% set customer = fsc.cliente.get(fsc.terminal.codcliente) %}
            {{ input.customerSelect(i18n, 'codcliente', 'codcliente', customer, fsc.cliente.url('new')) }}

            {% set documentList = appSettings.get('pointofsale','tiposdocumento')|split('|') %}
            {% set defaultDocument = appSettings.get('pointofsale','defaultdoc') %}
            {{ input.documentSelect(i18n, defaultDocument, documentList) }}

            <div class="form-group col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt fa-fw"></i></span>
                    </div>
                    <input type="text" id="documentdate" name="documentdate" value="{{ "now"|date("d-m-Y") }}" class="form-control" readonly>
                </div>
            </div>
        </div>
        <hr>
        <div id="view_display_total" class="display-3 text-center">0.00</div>
        <button type="button" class="btn btn-lg btn-block btn-primary mt-4" id="checkoutButton">
            <i class="fas fa-save" aria-hidden="true"></i>&nbsp;{{ i18n.trans("save") }}
        </button>
    </div>
</div>
