<div class="col-sm-12 col-md-7 col-lg-9 mh-100">
    {{ include('POS/Block/CartBlock.html.twig') }}
</div>
<div class="col-sm-12 col-md-5 col-lg-3 pl-md-0">
    <div class="p-3 bg-white rounded box-shadow h-100 d-flex flex-column">
        {{ include('POS/Block/FormBlock.html.twig') }}
    </div>
</div>