/* Custom styles for EasyPOS Point of sale screen */
#cartItemsTable{
    min-width: 800px;
}

.table > tbody > tr > td,
.table > thead > tr > th {
    padding: 0 15px !important;
}

.cart-table > tbody > tr > td,
.cart-table > thead > tr > th {
    padding: 0 10px !important;
    height: 50px;
}

.cart-form-control {
    height: calc(1.5em + .5rem + 2px) !important;
    min-width: 80px;
    padding: .6rem .6rem;
}

.cart-product-row {
    min-width: 500px;
}

.accordion .card > .card-header > .span {
    margin-left: auto;
}

.w-20 {width: 20% !important;}
.w-60 {width: 60% !important;}
.w-70 {width: 70% !important;}
.w-80 {width: 80% !important;}
.w-90 {width: 90% !important;}

.footer {z-index: 1000;}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 992px){
    .page-inner {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
/*@media screen and (min-width: 991px) {
    .search-table {
        max-width: 100%;
        overflow-y: scroll;
    }
}*/


